@model Presentation.ViewModels.ProjectViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrderValue" class="control-label"></label>
                <input asp-for="OrderValue" class="form-control" />
                <span asp-validation-for="OrderValue" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BranchId" class="control-label"></label>
                <select class="form-control" id="lstBranchId" asp-for="BranchId" asp-items="@ViewBag.Branches"
                        onchange="FillUsers(this,'lstUser');"></select>
            </div>
        
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select class="form-control" id="lstUser" asp-for="UserId" asp-items="@ViewBag.Users"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>